html, body{
    background-color: #2B343C;
    color:white;
}

button {
    background-color: #1EAEDA;
    border: 1px solid white;
    /* height: 200px;
    width: 200px; */
    border-radius: 10%;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 15px 15px 15px;
}

button:hover{
    background: #1b9cc4;
}

button:active{background:#11627a;}

#sendMsgToPlayersBtn {
    padding: 5px;
    margin: 10px 10px 10px 0px;
}

table {
    color: #54afda;
}

#myTable_length {
    color:white;
}

#myTable_info {
    color: white;
}

select[name="myTable_length"] {
    color:white;
}

input[type="search"] {
    color:white;
}

#myTable_filter {
    color:white;
}
